@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");
@import "tailwindcss";

@theme {
  --color-socar-50: #e5f8ff;
  --color-socar-100: #ccf1ff;
  --color-socar-200: #99e4ff;
  --color-socar-300: #66d6ff;
  --color-socar-400: #33c9ff;
  --color-socar-500: #00b8ff;
  --color-socar-600: #0093cc;
  --color-socar-700: #006e99;
  --color-socar-800: #004a66;
  --color-socar-900: #002533;

  --color-socar-dark: #1A1F2C; /* Navy Dark Base */

  --font-sans: 'Pretendard', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  font-family: var(--font-sans);
}
